<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">News Search</a>
  </div>
</nav>
<div class="area">

  <div class="input-field">
    <input placeholder="Search for news" id="query" type="text" [(ngModel)]="query">
  </div>
  <a class="waves-effect waves-light btn" (click)="searchWeb()">Search</a>
  <div class="progress" *ngIf="!newsitems">
    <div class="indeterminate"></div>
  </div>
  <div class="row">
    <div *ngFor="let news of newsitems" class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img [src]="news.image.url" height="300" width="300">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4 [innerHTML]="news.title"></h4>
            <p [innerHTML]="news.description"></p>
            <h6 class="blue-text text-lighten-2">Date Published: {{ news.datePublished | date }}</h6>
          </div>
          <div class="card-action">
            <a [href]="news.url" class="right">Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>